<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eff760">  <td>18/11/25 11:07:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_CreateLead@55d56113]">CreateLead</td> 
  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/11/25 11:08:02</td>   <td>36057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_CreateLead@55d56113]">CreateLead</td> 
  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/11/25 11:07:53</td>   <td>27253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_CreateLead@55d56113]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/11/25 11:08:24</td>   <td>57616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_CreateLead@55d56113]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/11/25 11:08:25</td>   <td>58919</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC001_CreateLead@55d56113]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/11/25 11:08:25</td>   <td>58523</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC001_CreateLead@55d56113]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/11/25 11:07:15</td>   <td>-10964</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC001_CreateLead@55d56113]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/11/25 11:07:16</td>   <td>-10121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_CreateLead@55d56113]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/11/25 11:07:54</td>   <td>28092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_CreateLead@55d56113]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/11/25 11:07:15</td>   <td>-11636</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC001_CreateLead@55d56113]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/11/25 11:07:15</td>   <td>-10980</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:testcases.TC001_CreateLead@55d56113]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
</table>
